// Fonts

.font-lobster {
	 font-family: $global-font-family-primary;
}

.line {
	&:after,
	&:before {
		content: "";
		height: 3px;
		width: 40px;
	    margin-top: 11px;
		background-color: $global-color;
	}
	&:before {
		float: left;
	    margin-right: 15px;
	}
	&:after {
		float: right;
	    margin-left: 15px;
	}
	.icon {
		display: inline-block;
	    height: 24px;
	    width: 24px;
	    background-repeat: no-repeat;
	}
	.icon-utensils {
		background-image: url('../../assets/icons/utensils.svg');
	}
}